header{
    width: 100%;
    padding-top: 55px;
}

nav{
    display: flex;
    justify-content: space-between;
}

ul{
    display: flex;
    list-style: none;
    align-items: center;
    gap: 34px;
}

ul li{
    position: relative;
}

ul li a{
    text-decoration: none;
    text-transform: capitalize;
    color: var(--header-cor);
    font-size: 1.1rem;
    
}

ul li a::after{
    display: block;
    content: "";
    width: 0%;
    height: 2px;
    position: absolute;
    margin-top: 2px;
    transition: 0.2s;
    background-color: var(--header-cor);
}

ul li a:hover::after{
    width: 90%;
}